@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix Sans";
  font-weight: 100;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Th.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 300;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Lt.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 400;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Rg.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 700;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Md.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 800;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Bd.woff)
      format("woff");
}

@font-face {
  font-family: "Netflix Sans";
  font-weight: 900;
  font-display: optional;
  src: url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff2)
      format("woff2"),
    url(https://assets.nflxext.com/ffe/siteui/fonts/netflix-sans/v3/NetflixSans_W_Blk.woff)
      format("woff");
}

.cut {
  background: linear-gradient(
    to right,
    rgba(33, 13, 22, 1) 16%,
    rgba(184, 40, 105, 1),
    rgba(229, 9, 20, 1),
    rgba(184, 40, 105, 1),
    rgba(33, 13, 22, 1) 84%
  );
  border-top-left-radius: 75% 100%;
  border-top-right-radius: 75% 100%;
  margin-top: -0.25rem;
}

.cut2 {
  border-top-left-radius: 80% 100%;
  border-top-right-radius: 80% 100%;
  border: solid 0.25rem transparent;
  border-bottom: none;
  background-clip: padding-box;
  margin: auto;
  background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
}
